<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Главная</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="icon" href="/images/logo_ru.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/logo_ru.png" alt="Белтаможсервис">
        </a>
        <a class="btn bg-dark" href="/admin/clients">
          <span class="text-white">Все компании</span>
        </a>
        <a href="/logout">
          <img src="https://img.icons8.com/sf-black/64/FFFFFF/exit.png"/>
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form th:action="@{admin/redirect}"  method="post">
            <label for="clientName" class="form-label">Выберите клиента:</label>
            <input type="text" class="form-control" autocomplete="off" list="clientDatalist" name="clientName" id="clientName" placeholder="Имя клиента" required>
            <datalist id="clientDatalist">
              <option th:each="client : ${clients}" th:value="${client.username}" th:text="${client.username}"></option>
            </datalist>
            <button type="submit" class="w-100 btn btn-primary btn-block">Рассчитать пеню</button>
          </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a href="/admin/register">Зарегистрировать нового пользователя</a>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


</body>

</html>