<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Калькулятор пеней</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<body>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <form action="#" th:action="@{calc/calculate}" th:method="post">
                <div class="row">
                    <label for="taxDate">Дата возникновения налогового обязательства</label>
                    <input type="date" id="taxDate" name="taxDate">
                </div>
                <div class="row">
                    <label for="taxSum">Сумма налогового обязательства</label>
                    <input type="text" id="taxSum" name="taxSum">
                </div>
                <div class="row">
                    <label for="peniDate">Дата расчёта пени ( дд.мм.гггг )</label>
                    <input type="date" id="peniDate" name="peniDate">
                </div>
                <div class="row">
                    <button type="submit">Рассчитать пени</button>
                </div>
            </form>
        </div>
        <div class="col table-wrapper-scroll-y my-custom-scrollbar">
            <label for="sums">Суммы, уплаченные плательщиком в счет исполнения налогового обязательства:</label>
            <table id="sums" class="table table-bordered overflow-auto">
                <thead class="thead-light">
                <tr>
                    <th>Дата уплаты</th>
                    <th>Сумма</th>
                    <th>Валюта</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sum : ${clientSums}" >
                    <td th:text="${sum.date}"></td>
                    <td th:text="${sum.sum}"></td>
                    <td th:text="${sum.currency.getName()}"></td>
                    <td>
                        <a th:href="@{'/delete/' + ${sum.id}}" class="btn btn-outline-danger"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <form action="#" th:action="@{/}" th:method="post" th:object="${clientSum}">
                <div class="row">
                    <label for="payDate">Дата уплаты</label>
                    <input class="form-control" type="date" th:value="${#dates.format(clientSum.date, 'yyyy-MM-dd')}"  id="payDate" th:field="*{date}">
                </div>
                <div class="row">
                    <label for="sum">Сумма</label>
                    <input class="form-control" id="sum" th:field="*{sum}">
                </div>
                <div class="row">
                    <label>Валюта</label>
                    <select class="form-select" th:field="*{currency}">
                        <option th:each="currency : ${currencies}"
                                th:text="${currency.name}"
                                th:value="${currency.id}"></option>
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-outline-success" type="submit">Добавить</button>
                    <button class="btn btn-outline-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered overflow-auto">
            <thead class="thead-light">
            <tr>
                <th>Начало периода</th>
                <th>Окончание периода</th>
                <th>Кол-во дней</th>
                <th>Ставка рефинансирования</th>
                <th>Сумма налог. обязательства</th>
                <th>Пени</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="peni : ${penies}">
                <td th:text="${peni.periodBegin}"></td>
                <td th:text="${peni.periodEnd}"></td>
                <td th:text="${peni.amountOfDays}"></td>
                <td th:text="${peni.refinancingRate.getRate()*100} + '%'"></td>
                <td th:text="${peni.taxSum}"></td>
                <td th:text="${peni.peniAmount}"></td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td>Итого : <span th:text="${peniSum}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <form action="#" th:method="post" th:action="@{/clear}">
            <button type="submit" class="btn btn-outline-danger">Очистить</button>
        </form>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>